.center {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 150%;
}

.football-title {
  font-size: 215%;
  color: black;
}
.euro1 {
  text-align: center;
}
.hero {
  background-color: rgb(9 120 105 / 77%);
}



body {background-color: rgba(51, 49, 49, 0.356);

}
li {
  color: rgb(240, 27, 27);
}
p {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bolder;
}
p{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bolder;
}

.divp{
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  width: 100%;
  justify-content: space-around;
}
.scroll1{
   margin-top: 13px;
   
};
.scroll2{
    margin-top: 13px;
    width: 600px;
    overflow:scroll;
};
.ball{
  display: block;
}
footer{
  background-color: rgb(9 120 105 / 77%);
}

.footer1{
  font-size: large;
 
}
/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 863px) {
  .ball{
    display: none;
  }


  .football-title {
    font-size: 130%;
  }
 
  .divp{
    
    margin: auto;
  }
.footer1{
  font-size: small;
 
}
}