.center {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 150%;
}

.football-title {
  font-size: 215%;
  color: black;
}
.euro1 {
  text-align: center;
}
.hero {
  background-color: rgba(221, 5, 5, 0.767);
}
body {background-color: rgba(51, 49, 49, 0.356);

}
li {
  color: rgb(240, 27, 27);
}
p {
  color: rgb(0, 0, 0);
  font-size: xx-large;
  font-weight: bolder;
}
p{
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bolder;
}
.widget{
    
   
   
   
}
.divp{
  display: flex;
  flex-wrap: wrap;
}
.scroll1{
   margin-top: 13px;
   
};
.scroll2{
    margin-top: 13px;
    width: 600px;
    overflow:scroll;
};
.ball{
  display: block;
}
@media screen and (max-width: 863px) {
  .ball{
    display: none;
  }
/* MEDIA QUERY FOR TABLETS AND SMALLER */

  .football-title {
    font-size: 130%;
  }
  scroll1{
    margin: auto;
    overflow-y: scroll;
    height: 500px;
    width:1000px;
  }
  .divp{
    
    margin: auto;
  }

}