/* Applies style to entire html file */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
header {
    background-image: url("../images/soccer.jpg");

    background-size: cover;
    background-position: 80%;
}

body {
    background-color: rgba(51, 49, 49, 0.356);
}

li {
    color: rgb(240, 27, 27);
}

p {
    color: rgb(0, 0, 0);
    font-size: xx-large;
    font-weight: bolder;
}
a {
    color: #1aff00;
}
.footer {
    background-color: #05405614;
}

.center {
    text-align: center;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    font-size: 150%;
}

.football-title {
    font-size: 215%;
    color: rgb(255, 255, 255);
    font-style: italic;
    font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    font-weight: normal;
    text-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.euro1 {
    text-align: center;
}

.dropdowns {
    margin-top: 50px;
    text-align: center;
}

.divp {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    width: 100%;
    justify-content: space-around;
}

.scroll1 {
    margin-top: 13px;
}

.scroll2 {
    margin-top: 13px;
    width: 600px;
    overflow: scroll;
}

.ball {
    display: inline-block;
}
.global {
    background-image: url("../images/soccer3.jpg");
    background-size: cover;
    background-position: 100%;
}

.footer1 {
    font-size: large;
}
.store1 {
    display: inline-block;

    border-radius: 50%;
}
.store2 {
    color: white;
    font-size: larger;
    margin-left: 50px;
}
.button.is-rounded {
    margin-left: 50px;
}

#table {
    width: 75%;
    margin: auto;
}

/* MEDIA QUERY FOR TABLETS AND SMALLER */
@media screen and (max-width: 863px) {
    .ball {
        display: none;
    }

    .football-title {
        font-size: 130%;
    }

    .divp {
        margin: auto;
    }

    .goals-for,
    .goals-against,
    .goal-difference {
        display: none;
    }

    footer {
        text-align: center;
        padding-right: 200px;
    }

    .footer1 {
        font-size: small;
        margin-left: 120px;
    }
    .button.is-rounded {
        margin-left: 100px;
    }

    .store2 {
        margin-left: 100px;
    }
}
header{
  background-image: url("../images/soccer.jpg");
  background-size: cover;
  background-position: 80%;
  
  
 }